name: Go

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.20.4

    - name: Build
      run: make build

    - name: Test
      run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@v2.3.1 && make test

    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.52.2

    - name: Integration Test
      uses: docker/compose-action@v2
      run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@v2.3.1 && make integration
