name: Go

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.24.4

    - name: Init
      run: make init


    - name: Lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1.6

    - name: Aqua Security Trivy
      uses: aquasecurity/trivy-action@0.19.0
      continue-on-error: true
      with:
        scan-type: 'fs'
        scan-ref: '.'

    - name: Test
      run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@v2.27.2 && make test

    - name: Integration Test
      run:  make integration
